/* General */
body {
    background: #0E0906;
    color: #f2e9e4;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #e6ccb2;
}

.btn {
  color: #e6ccb2;
  background: #462A20;
  border: 1px solid #8A5A44;
  padding: 16px 40px;
  display: inline;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn:hover{
  background-color: #8A5A44;
  transition-duration: 0.4s;
}

/* Main container */
.main-container {
  background: #462A20;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
}

.header-title {
  background: #2A1913;
  font-family: 'Norican', cursive;
  font-size: 90px;
  padding: 15px;
}

/* Navigation */
nav {
  background: #2A1913;
  border-bottom: #CD9777;
  border-bottom-style: ridge;
  border-bottom-width: 1px;
  padding: 5px;
  overflow: hidden;
}

nav .nav-left {
  display:inline-block;
  float: left;
}

nav .nav-right {
  display:inline-block;
  float: right;
}

/* Home Content Section */
.home-content {
  display: flex;
  align-items: flex-start;
}

/* Article */
.blog-article {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background: #623B2D;
    margin: 5px;
    padding: 35px;
    box-shadow: 5px 10px 10px #9D6B53;
    border-top: #CD9777;
    border-top-style: ridge;
    border-top-width: 1px;
    border-left: #CD9777;
    border-left-style: ridge;
    border-left-width: 1px;
    border-right: #CD9777;
    border-right-style: ridge;
    border-right-width: 1px;
    border-bottom: #CD9777;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    line-height: 135%;
}

.article-title {
    font-size: 40px;
    font-style: italic;
}

.article-date-posted {
    font-size: 18px;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 3%;
    line-height: 20px;
    font-style: italic;
    display: block;
}

.article-content {
  white-space: pre-wrap;
}

/* Author */
.author-section {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20%;
    max-width: 20%;
    background: #623B2D;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    box-shadow: 5px 10px 10px #9D6B53;
    border-top: #CD9777;
    border-top-style: ridge;
    border-top-width: 1px;
    border-left: #CD9777;
    border-left-style: ridge;
    border-left-width: 1px;
    border-right: #CD9777;
    border-right-style: ridge;
    border-right-width: 1px;
    border-bottom: #CD9777;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
}

.author-section ul {
  list-style-type: none;
  padding-left: 0px;
}

.author-section ul li {
  text-decoration: none;
}

.author-section ul li a {
  background: #623B2D;
  border: 1px solid #8A5A44;
  margin: 5px 0px;
  padding: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.author-section ul li:hover {
  background-color: #8A5A44;
  transition-duration: 0.4s;
}

.author-section-title {
    color: #f2e9e4;
}
.author-section-description {
    color: #f2e9e4;
    display: block;
}

.author-socials {
  font-family: 'Norican', cursive;
  font-size: 40px;
  word-break: break-all;
}

/* Pagination */
.paging {
  display: block;
  padding: 5px;
  margin-top: 1%;
  overflow: hidden;
}

.paging .page-selector-left {
  float: left;
}

.paging .page-selector-right{
  float: right;
}

/* Footer */
.footer {
    margin-top: 30px;
    background: #2A1913;
    color: #c9ada7;
    border-top: #CD9777;
    border-top-style: ridge;
    border-top-width: 1px;
    padding: 15px;
    text-align: right;
    font-size: 80%;
    font-style: italic;
}


/* Login Page */

.login-box {
  margin: 0 auto;
  width: 30%;
  padding: 5%;
  text-align: center;
}

.login-box .form-field {
  margin: 1%;
}

/* flashed messages */

.flashed-messages {
  border: #CD9777;
  border-style: ridge;
  border-width: 1px;
  padding: 1%;
  margin: 2% 5%;
  text-align: center;
}

.invalid-feedback {
  border: #CD9777;
  border-style: ridge;
  border-width: 1px;
  padding: 1%;
  margin: 1% 0%;
  text-align: center;
}

/* new post page */

.content {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}

.new-post .btn {
  float: right;
  margin: 1% 0.5%;
}

.new-post a.btn {
  float: left;
  margin: 1% 0.5%;
}

.new-post .form-field.title {
  height: 25px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin: 1% 0;
}

/* admin posts page */

.content-section .posts-view {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px ridge #2A1913;
  margin: 0.5%
}

.article-blob {
  border: 2px solid #CD9777;
  margin: 0.5%;
}

.article-blob .article-status {
  font-size: 30px;
}

.article-blob .article-title {
  font-size: 30px;
}

/* ban ip page */
#ip_address {
  width: 20%;
  font-size: 150%;
  margin: 0.5%;
}

.new-ban .btn {
  display: inline-block;
  margin: 0.5%;
}
