{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's CV
    {% endif %}
{% endblock %}
{% block body %}
<div class="cv-table">
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Senior Application Operations Engineer</h2>
      <h4 class="cv-entry-company">Khoros</h4>
      <h5 class="cv-entry-timespan">April 2020 - Present</h5>
    </div>
    <div class="cv-entry-summaryblock">
      History repeats itself they say, so at some point I became a Senior again! Over the period of being in this position, I was largely focused on building new, or improving the existing, automation tools and processes while still providing head-on support and expertise related to the company's products. Up to date, I've had the pleasure to refactor and create countless scripts and a bunch of automation frameworks.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Application Operations Engineer</h2>
      <h4 class="cv-entry-company">Khoros</h4>
      <h5 class="cv-entry-timespan">March 2019 - April 2020</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Down the line, I could fully move to Operations and focus on doing what I love most - tinker with stuff and (hopefully) not break it on a Friday. My main activity was focused on product deployments and providing operational support for the various organizations within the company and handling of the monthly product release cycles as well as the team mates training and mentoring.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Customer Support Analyst</h2>
      <h4 class="cv-entry-company">Lithium Technologies (now Khoros)</h4>
      <h5 class="cv-entry-timespan">August 2017 - March 2019</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Time proved that being a manager is much harder than I ever imagined. Around the same time, the possibility to move to the UK and start working as a frontline technical support engineer popped up and I felt like it'd be worth giving it a shot. At the time, I was focused on the SaaS products of the company, alongside operational support for both customers and teams within the organization.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Manager, Customer Support and QA</h2>
      <h4 class="cv-entry-company">ETI Software</h4>
      <h5 class="cv-entry-timespan">August 2016 – July 2017</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Eventually, the opportunity to try and lead the team arose and I decided to rise to the challenge! My main focus was on team training, automation and modernization of the tooling and processes. Closely working with both customers and management on projects planning, resourcing, delivery and evaluation of the work that's being done.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Senior QA Engineer</h2>
      <h4 class="cv-entry-company">NetMania IT (now ETI Software)</h4>
      <h5 class="cv-entry-timespan">November 2012 – August 2016</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Of course, over time, I became a Senior! My responsibilities changed a little bit - at that point I was a lot more hands-on with customers, project managers and developers. I was still mainly creating and executing test plans based on the customer requirements and expectations, preparing detailed bug reports and working closely with development and management on the tight schedule. On some projects, I also ended up leading a team of 10-12 people, providing consulting and mentoring to team members, outlining projects scope, time and resources allocation.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">QA Engineer</h2>
      <h4 class="cv-entry-company">NetMania IT (now ETI Software)</h4>
      <h5 class="cv-entry-timespan">June 2011 – November 2012</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Some time later, I transitioned into a QA Engineer. My main focus was on creating and executing test plans suitable for an agile monthly release cycle, performing manual UI and functionality testing on internal and production environments, improving the QA process to be faster and more efficient, locating, reporting and finding solutions for issues with the latest release.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">First Line Support Technician</h2>
      <h4 class="cv-entry-company">NetMania IT (now ETI Software)</h4>
      <h5 class="cv-entry-timespan">July 2010 – June 2011</h5>
    </div>
    <div class="cv-entry-summaryblock">
      My journey begun as a frontline support technician with a general focus on providing technical support over phone, live chat and e-mail or via the company's ticketing system. Occasionally took part of the release QA cycle of the company's products.
    </div>
  </div>
</div>
{% endblock %}
