{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's CV
    {% endif %}
{% endblock %}
{% block body %}
<div class="cv-table">
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Some entry</h2>
      <h4 class="cv-entry-company">Some Company</h4>
      <h5 class="cv-entry-timespan">1991-2021</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna turpis, viverra eget iaculis vel, rutrum a odio. In cursus eros et felis elementum laoreet. Nullam vehicula libero ut nisl interdum, eu imperdiet metus pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nisl quam, consequat id mauris nec, euismod pretium lacus. Fusce velit nulla, pellentesque id mauris non, placerat venenatis lectus. Duis porta ante ultricies venenatis aliquam. Nunc consequat dapibus nisi at luctus. Suspendisse et dui lectus. Vestibulum vehicula a purus nec sagittis. Morbi ut risus vitae dui mattis tempor ac sit amet purus. Praesent bibendum, nibh et condimentum sagittis, lacus massa tempor dolor, porttitor commodo lorem justo quis enim. Integer vitae lorem a turpis rhoncus tincidunt et vel neque. Ut eu erat maximus, maximus mauris in, aliquam ante.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Some entry</h2>
      <h4 class="cv-entry-company">Some Company</h4>
      <h5 class="cv-entry-timespan">1991-2021</h5>
    </div>
    <div class="cv-entry-summaryblock">
      <ul class="cv-entry-specifics">
          <li>Something</li>
          <li>Other thing</li>
      </ul>
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Some entry</h2>
      <h4 class="cv-entry-company">Some Company</h4>
      <h5 class="cv-entry-timespan">1991-2021</h5>
    </div>
    <div class="cv-entry-summaryblock">
      <ul class="cv-entry-specifics">
          <li>Something</li>
          <li>Other thing</li>
      </ul>
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Some entry</h2>
      <h4 class="cv-entry-company">Some Company</h4>
      <h5 class="cv-entry-timespan">1991-2021</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna turpis, viverra eget iaculis vel, rutrum a odio. In cursus eros et felis elementum laoreet. Nullam vehicula libero ut nisl interdum, eu imperdiet metus pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nisl quam, consequat id mauris nec, euismod pretium lacus. Fusce velit nulla, pellentesque id mauris non, placerat venenatis lectus. Duis porta ante ultricies venenatis aliquam. Nunc consequat dapibus nisi at luctus. Suspendisse et dui lectus. Vestibulum vehicula a purus nec sagittis. Morbi ut risus vitae dui mattis tempor ac sit amet purus. Praesent bibendum, nibh et condimentum sagittis, lacus massa tempor dolor, porttitor commodo lorem justo quis enim. Integer vitae lorem a turpis rhoncus tincidunt et vel neque. Ut eu erat maximus, maximus mauris in, aliquam ante.
    </div>
  </div>
  <div class="cv-entry">
    <div class="cv-entry-infoblock">
      <h2 class="cv-entry-title">Some entry</h2>
      <h4 class="cv-entry-company">Some Company</h4>
      <h5 class="cv-entry-timespan">1991-2021</h5>
    </div>
    <div class="cv-entry-summaryblock">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna turpis, viverra eget iaculis vel, rutrum a odio. In cursus eros et felis elementum laoreet. Nullam vehicula libero ut nisl interdum, eu imperdiet metus pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nisl quam, consequat id mauris nec, euismod pretium lacus. Fusce velit nulla, pellentesque id mauris non, placerat venenatis lectus. Duis porta ante ultricies venenatis aliquam. Nunc consequat dapibus nisi at luctus. Suspendisse et dui lectus. Vestibulum vehicula a purus nec sagittis. Morbi ut risus vitae dui mattis tempor ac sit amet purus. Praesent bibendum, nibh et condimentum sagittis, lacus massa tempor dolor, porttitor commodo lorem justo quis enim. Integer vitae lorem a turpis rhoncus tincidunt et vel neque. Ut eu erat maximus, maximus mauris in, aliquam ante.
    </div>
  </div>
</div>
{% endblock %}
