{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's Hut
    {% endif %}
{% endblock %}
{% block body %}
  <div class="home-content">
    {% if blog_posts %}
        {% for post in blog_posts.items %}
            <article class="blog-article">
                <a class="article-title" href="{{ url_for('posts.view_post_page', post_id=post.id)}}">{{ post.title }}</a>
                <small class="article-date-posted">posted at {{ post.date_posted.strftime("%X, %A, %d/%b/%Y") }}</small>
                <div class="article-content">{{ post.content | safe}}</div>
            </article>
        {% endfor %}
    {% else %}
        <p>Uh, no posts here it seems? :(</p>
    {% endif %}
    <section class="author-section">
        <h3 class="author-section-title">$ whoami</h3>
        <p class="author-section-description">Heya, my name's Dimitar but I'm better known as Winter across the interwebz. Occasional gamer, somewhat of a tech enthusiast, adrenaline junkie constantly living on the edge by singing outside of the shower and occasionally leaving the house.</p>
        <p class="author-socials">.. or catch me at:</p>
        <ul>
          <li><a class="btn" href="https://www.linkedin.com/in/dimitarxivanov/">LinkedIn</a></li>
          <li><a class="btn" href="https://github.com/sudosuwinter/">GitHub</a></li>
          <li><a class="btn" href="https://www.instagram.com/sudosuwinter/">Instagram</a></li>
        </ul>
    </section>
  </div>
    <div class="paging">
        {% if blog_posts.has_prev %}
            <a class="btn page-selector-left" href="{{ url_for( 'main.home_page', page=blog_posts.page - 1 ) }}">Previous</a>
        {% endif %}
        {% if blog_posts.has_next %}
            <a class="btn page-selector-right" href="{{ url_for( 'main.home_page', page=blog_posts.page + 1 ) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
