{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's Hut
    {% endif %}
{% endblock %}
{% block body %}
<div class="importer_data">
  <div class="all-posts-page">
      <h4>Reading data from file: {{ file_path }}</h4>
    <div class="all-posts-view">
  {% for post in data %}
      <a class="post-wrapper" href="{{ url_for('main.preview_post_page', post_id=post.json_id, file_path=file_path) }}">
        <div class="post-title">
          {{ post.title }}
        </div>
        <div class="post-date">
          {{ post.date_posted.strftime("%b, %Y") }}
        </div>
    </a>
  {% endfor %}
    </div>
  </div>
    <br>
    <br>
    <a class="btn" href="{{ url_for( 'main.import_data', file_path=file_path ) }}">Import</a>
</div>
{% endblock %}
