<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
  <div class="main-container">
    <div class="header-title">
      Winter's Hut
    </div>
    <nav class="navigation-bar">
      <div class="nav-left">
        <a class="btn" href="{{ url_for('main.home_page') }}">Home</a>
        <a class="btn" href="#">Blog Posts</a>
        <a class="btn" href="{{ url_for('main.cv_page') }}">XP</a>
      </div>
      <div class="nav-right">
        {% if current_user.is_authenticated %}
          <a class="btn" href="{{ url_for('posts.posts_list_page') }}">Posts List</a>
          <a class="btn" href="{{ url_for('posts.new_post_page') }}">New Post</a>
          <a class="btn" href="{{ url_for('main.ban_ip_page') }}">New IP Ban</a>
          <a class="btn" href="#">Logout</a>
        {% else %}
          <a class="btn" href="{{ url_for ('users.login_page') }}">Login</a>
        {% endif %}
      </div>
    </nav>
    <div class="content-section">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flashed-messages">
                {% for message in messages %}
                <div class="flashed-message">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer">
      <p class="footer-text">No copyright here lol :)</p>
    </div>
  </div>
</body>
</html>
