{% extends "layout.html" %}
{% block head %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ post.title }} | Winter's Hut">
  <meta property="profile:first_name" content="Dimitar">
  <meta property="profile:last_name" content="Ivanov">
  <meta property="profile:username" content="Winter">
  <meta name="article:author" content="Dimitar Ivanov">
  <meta name="article:published_time" content="{{ post.date_posted.strftime('%Y-%m-%d') }}">
{% endblock %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's Hut
    {% endif %}
{% endblock %}
{% block body %}
  <article class="blog-article">
      <a class="article-title">{{ post.title }}</a>
      <small class="article-date-posted">posted at {{ post.date_posted.strftime("%X, %A, %d/%b/%Y") }}</small>
      <div class="article-content">{{ post.content | safe }}</div>
      {% if current_user.is_authenticated %}
        {% if preview != 1 %}
          <div class="article-options">
            <a class="btn" href="{{ url_for('posts.edit_post_page', post_id=post.id)}}">Edit</a>
          </div>
        {% endif %}
      {% endif %}
  </article>
{% endblock %}
