{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's Hut
    {% endif %}
{% endblock %}
{% block body %}
  <article class="blog-article">
      <a class="article-title">{{ post.title }}</a>
      <small class="article-date-posted">posted at {{ post.date_posted.strftime("%X, %A, %d/%b/%Y") }}</small>
      <div class="article-content">{{ post.content | safe }}</div>
      <div class="article-options">
        <a class="btn" href="#">Edit</a>
      </div>
  </article>
{% endblock %}
