{% extends "layout.html" %}
{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Winter's Hut
    {% endif %}
{% endblock %}
{% block body %}
  <article class="blog-article">
      <a class="article-title">{{ post.title }}</a>
      <small class="article-date-posted">posted at {{ post.date_posted.strftime("%X, %A, %d/%b/%Y") }}</small>
      <div class="article-content">{{ post.content | safe }}</div>
      {% if current_user.is_authenticated %}
          <div class="article-options">
            <a class="btn" href="{{ url_for('posts.edit_post_page', post_id=post.id)}}">Edit</a>
          </div>
      {% endif %}
  </article>
{% endblock %}
